<footer class="footer mt-5 py-4 border-top">
  <div class="text-center">
    <a href="{{ '/about/' | relative_url }}" style="display: inline-block; margin: 0 15px;">About</a>
    <a href="{{ '/people/' | relative_url }}" style="display: inline-block; margin: 0 15px;">People</a>
    <a href="{{ '/resources/' | relative_url }}" style="display: inline-block; margin: 0 15px;">Resources</a>
    <a href="{{ '/workshop/' | relative_url }}" style="display: inline-block; margin: 0 15px;">Workshop</a>
    <a href="{{ '/echominds/' | relative_url }}" style="display: inline-block; margin: 0 15px;">EchoMinds</a>
    <a href="mailto:{{ site.author.email }}" style="display: inline-block; margin: 0 15px;"><i class="fas fa-envelope"></i></a>
  </div>
</footer>
