<div class="row justify-content-left align-items-center py-4">
  <div class="col-lg-8 col-md-6 mt-4">
    <div class="text-left">
      <h2 class="display-4 wow animated slideInUp" data-wow-delay=".1s">SHAPE Lab</h2>
      <h4 class="wow animated slideInUp" data-wow-delay=".15s"><strong>Socio-technical and Human-centered AI for Pedagogy and Education</strong><br></h4>
      <h6 class="text-muted text-left mt-4">Funding for this project is provided by the National Science Foundation and possible due to community partnerships with the Massachusetts Associate for the Blind and Visually Impaired and the Carroll Center for the Blind.</h6>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 text-center mt-4">
    <div id="container" class="my-2">
      <div id="dummy"></div>
      <div id="element">
        <img src="{{ site.author.image }}" alt="{{ site.title }}" class="circle-image wow animated zoomIn" data-wow-delay=".1s">
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-left align-items-center py-4">
  <div class="col-12">

  </div>
</div>
<div class="row py-4">
  <div class="col-12 text-left">
    <h1 class="display-4 wow animated slideInUp" data-wow-delay=".1s">Project Overview</h1>
    <h4 class="text-muted wow animated slideInUp" data-wow-delay=".15s">Our project aims to develop and implement an innovative educational program that immerses engineering and computing students in real-world contexts while addressing societal challenges. The program focuses on equipping students with the necessary skills to develop and deploy AI technologies responsibly by integrating social sciences perspectives and fostering a holistic understanding of AI's potential benefits and harms.</h4>
  </div>
</div>

<div class="row py-4">
  <div class="col-12 mt-4">
    <h2 class="text-center text-white pb-4 ">Project Timeline</h2>
    <div class="timeline-body bg-themed">
      <div class="timeline-item">
        <div class="content">
          <h2>Building EchoMinds</h2>
          <h6 class="date">Summer 2025</h6>
          <ul>
            <li>Immersed ourselves into activities at the Carroll Center for the Blind and the Massachusetts Association for the Blind and Visually Impaired (MABVI) to learn about the BVI community.</li>
            <li>Collaborated to identify an idea for AI-driven tech that would be meaningful to the BVI community</li>
            <li>Prototyped, developed, and tested the idea with the community</li>
          </ul>
        </div>
      </div>
      <div class="timeline-item">
        <div class="content">
          <h2>Machine Learning @ Olin</h2>
          <h6 class="date">Spring 2026</h6>
          <ul>
            <li>Case study was implemented into ML course as a continuous case study on HCD in ML.</li>
            <li>Students were interviewed to gather feedback on the implementation and absorbtion of sociotechnical materials.</li>
          </ul>
        </div>
      </div>
      <div class="timeline-item">
        <div class="content">
          <h2>Expanding our Reach</h2>
          <h6 class="date">Summer 2026</h6>
          <ul>
            <li>Built curricula for Faculty Fellows at UCSD, UNC Charlotte, and Hunter College.</li>
            <li>Analyzed impacts on student learning in Paul Ruvolo's spring 2026 Machine Learning class</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
